.info {
   display: flex;
   background: rgb(206, 203, 203);
   width: 800px;
   height: 30px;
   font-weight: bold;
   font-size: 18px;
   align-items: center;
   justify-content: space-around;
   margin: 100px 0px 40px 0px;
   text-align: center;
}
.info__id {
   width: 20px;
   margin: 0px 0px 0px 10px;
}

.info__title {
   width: 150px;
}

.info__description {
   margin: 0px 0px 0px 40px;
}
